@import "tailwindcss";

:root {
  --darkForestGreen: #026937;
  --forestGreen: #35944b;
  --freshGreen: #43b649;
  --limeGreen: #8dc63f;
  --mintTeal: #3ebdac;
  --deepTeal: #069a7e;
  --darkTeal: #0e7774;
  --grayPrimary: #757575;
  --lightGraySecondary: #dfe9f3;
}

@theme inline {
  --color-darkForestGreen: var(--darkForestGreen);
  --color-forestGreen: var(--forestGreen);
  --color-freshGreen: var(--freshGreen);
  --color-limeGreen: var(--limeGreen);
  --color-mintTeal: var(--mintTeal);
  --color-deepTeal: var(--deepTeal);
  --color-darkTeal: var(--darkTeal);
  --color-grayPrimary: var(--grayPrimary);
  --color-lightGraySecondary: var(--lightGraySecondary);
}
